p, h1, h2, h3, h4, h5, h6, a, label, span{
  font-family: 'Amiri', serif;
}

.content-name {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.poem-name {
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover h5 {
  color: green;
}

.title:hover:after {
  color: green;
  content:  " (Man by Machine)";
}
p {
  font-size: 18px;

}
p.start-indent {
  text-indent: 50px;
}

p.hanging-indent {
  /*padding-left: 50px ;*/
  text-indent: -50px ;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  
}

section div {
  position: relative;
  width: 100%;
  background: green;
  overflow: hidden;
}
/* section div:nth-child(1){
  position: relative;
  width: 50%;
  background: green;
  overflow: hidden;
} */
section div h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
  line-height: 100vh;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
} 

span.footnote {
  background-color: green;


}


#note-astoria:hover:after {
  color: white;
  content:  " (a small town found at the opening of the Columbia River)";
}

#note-goonies:hover:after {
  color: white;
  content:  " (released in 1985)";
}

#note-million:hover:after {
  color: white;
  content:  " (the reported number of illegal border crossings from the past year)";
}

#note-jordan:hover:after {
  color: white;
  content:  " (a country in the Middle East)";
}

#note-described:hover:after {
  color: white;
  content:  " (because we weren't sure if we would describe him that way in our own words)";
}

#note-1896:hover:after {
  color: white;
  content:  " (the year of the Anglo-Zanzibar War)";
}

#note-treasure:hover:after {
  color: white;
  content:  " (see Indiana Jones and Nicolas Cage)";
}

#p5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


#p5 {
  height: 10em;
  width: 100%;
}
.ad {
  background-color: pink;
  width: 100%;
  height: 100%;
  text-align: center;
}

.actual-content {
  height: 9em;
  width: 11em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ad-text {
  margin-top: 1.5em;
  font-size: 24px;
}

.ad1 {
  background-color: aqua;

}


#r1-1::before {
  content: "A ";
  animation: hello1v1 infinite 3s;
}

@keyframes hello1v1 {

  0% {
      content: "A ";
  }

  50% {
      content: "I have a ";
  }

  75% {
      content: "It was a ";
  }
}


#r1-2::before {
  content: "brown hair pin";
  animation: hello1v2 infinite 3s;
}

@keyframes hello1v2 {

  0% {
      content: "brown hair pin";
  }

  50% {
      content: "yellow shirt";
  }

  75% {
      content: "new pair of shoes";
  }
}

#r2-1::before {
  content: "tucked ";
  animation: hello2v1 infinite 3s;
}

@keyframes hello2v1 {

  0% {
      content: "tucked ";
  }

  50% {
      content: "laying ";
  }

  75% {
      content: "broken ";
  }
}

#r2-2::before {
  content: "beside ";
  animation: hello2v2 infinite 3s;
}

@keyframes hello2v2 {

  0% {
      content: "beside ";
  }

  50% {
      content: "along ";
  }

  75% {
      content: "above ";
  }
}

#r2-3::before {
  content: "the cupboard.";
  animation: hello2v3 infinite 4s;
}

@keyframes hello2v3 {

  0% {
      content: "the cupboard.";
  }

  50% {
      content: "the valley.";
  }

  75% {
      content: "a well.";
  }
}

#r3-1::before {
  content: "I see ";
  animation: hello3v1 infinite 3s;
}

@keyframes hello3v1 {

  0% {
      content: "I see ";
  }

  50% {
      content: "She takes ";
  }

  75% {
      content: "It felt ";
  }
}

#r3-2::before {
  content: "its owner";
  animation: hello3v2 infinite 3s;
}

@keyframes hello3v2 {

  0% {
      content: "its owner";
  }

  50% {
      content: "my skin";
  }

  75% {
      content: "your power";
  }
}

#r4-1::before {
  content: "combing knots ";
  animation: hello4v1 infinite 3s;
}

@keyframes hello4v1 {

  0% {
      content: "combing knots ";
  }

  50% {
      content: "fastening buttons ";
  }

  75% {
      content: "traversing hills ";
  }
}

#r4-2::before {
  content: "out ";
  animation: hello4v2 infinite 3s;
}

@keyframes hello4v2 {

  0% {
      content: "out ";
  }

  50% {
      content: "by ";
  }

  75% {
      content: "for ";
  }
}

#r4-3::before {
  content: "her hair.";
  animation: hello4v3 infinite 3s;
}

@keyframes hello4v3 {

  0% {
      content: "her hair.";
  }

  50% {
      content: "your eyes.";
  }

  75% {
      content: "the city.";
  }
}