p, h1, h2, h3, h4, h5, h6, a, label, span{
  font-family: 'Amiri', serif;
}

.content-name {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.poem-name {
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover h5 {
  color: green;
}

.title:hover:after {
  color: green;
  content:  " (Man by Machine)";
}
p {
  font-size: 18px;

}
p.start-indent {
  text-indent: 50px;
}

p.hanging-indent {
  /*padding-left: 50px ;*/
  text-indent: -50px ;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  
}

section div {
  position: relative;
  width: 100%;
  background: green;
  overflow: hidden;
}
/* section div:nth-child(1){
  position: relative;
  width: 50%;
  background: green;
  overflow: hidden;
} */
section div h2 {
  position: absolute;
  white-space: nowrap;
  font-size: 12em;
  line-height: 100vh;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
} 

span.footnote {
  background-color: green;


}


#note-astoria:hover:after {
  color: white;
  content:  " (a small town found at the opening of the Columbia River)";
}

#note-goonies:hover:after {
  color: white;
  content:  " (released in 1985)";
}

#note-million:hover:after {
  color: white;
  content:  " (the reported number of illegal border crossings from the past year)";
}

#note-jordan:hover:after {
  color: white;
  content:  " (a country in the Middle East)";
}

#note-described:hover:after {
  color: white;
  content:  " (because we weren't sure if we would describe him that way in our own words)";
}

#note-1896:hover:after {
  color: white;
  content:  " (the year of the Anglo-Zanzibar War)";
}

#note-treasure:hover:after {
  color: white;
  content:  " (see Indiana Jones and Nicolas Cage)";
}

#p5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.ad {
  background-color: pink;
  width: 100%;
}

.actual-content {
  width: 10%;
  height: 10%;
  overflow: scroll-y;
}